/* line 1, ../scss/_layout-template.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/_layout-template.scss */
a {
  cursor: pointer;
}

/* line 10, ../scss/_layout-template.scss */
#canvas {
  width: 768px;
  height: 1024px;
  background: white;
}

/* line 16, ../scss/_layout-template.scss */
#players {
  display: none;
}

/* line 20, ../scss/_layout-template.scss */
#game-board {
  display: none;
}

/* line 24, ../scss/_layout-template.scss */
#settings {
  display: none;
}

/* line 29, ../scss/_layout-template.scss */
.increment-poision,
.decrement-poision {
  background-color: green;
}

/* line 34, ../scss/_layout-template.scss */
.increment-mana,
.decrement-mana {
  background-color: #E5E5E5;
}
/* line 37, ../scss/_layout-template.scss */
.increment-mana.red,
.decrement-mana.red {
  background: red;
}
/* line 41, ../scss/_layout-template.scss */
.increment-mana.green,
.decrement-mana.green {
  background: green;
}
/* line 45, ../scss/_layout-template.scss */
.increment-mana.blue,
.decrement-mana.blue {
  background: blue;
}
/* line 49, ../scss/_layout-template.scss */
.increment-mana.black,
.decrement-mana.black {
  background: black;
  color: white;
}
/* line 54, ../scss/_layout-template.scss */
.increment-mana.white,
.decrement-mana.white {
  background: white;
}

/* line 60, ../scss/_layout-template.scss */
.player.active {
  background-color: #DBE0E7;
}
/* line 64, ../scss/_layout-template.scss */
.player.dead {
  background-color: #FF0000;
}
