/* line 1, ../scss/_layout-template.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/_layout-template.scss */
a {
  cursor: pointer;
}

/* line 10, ../scss/_layout-template.scss */
#canvas {
  width: 768px;
  height: 1024px;
  background: red;
}

/* line 16, ../scss/_layout-template.scss */
#players {
  display: none;
}

/* line 20, ../scss/_layout-template.scss */
#game-board {
  display: none;
}

/* line 24, ../scss/_layout-template.scss */
#settings {
  display: none;
}

/* line 29, ../scss/_layout-template.scss */
.increment-poision,
.decrement-poision {
  background-color: green;
}

/* line 35, ../scss/_layout-template.scss */
.increment-mana,
.decrement-mana,
.tap-mana {
  background-color: #E5E5E5;
}
/* line 38, ../scss/_layout-template.scss */
.increment-mana.red,
.decrement-mana.red,
.tap-mana.red {
  background: red;
}
/* line 42, ../scss/_layout-template.scss */
.increment-mana.green,
.decrement-mana.green,
.tap-mana.green {
  background: green;
}
/* line 46, ../scss/_layout-template.scss */
.increment-mana.blue,
.decrement-mana.blue,
.tap-mana.blue {
  background: blue;
}
/* line 50, ../scss/_layout-template.scss */
.increment-mana.black,
.decrement-mana.black,
.tap-mana.black {
  background: black;
  color: white;
}
/* line 55, ../scss/_layout-template.scss */
.increment-mana.white,
.decrement-mana.white,
.tap-mana.white {
  background: white;
}

/* line 61, ../scss/_layout-template.scss */
.player .end-turn {
  display: none;
}
/* line 65, ../scss/_layout-template.scss */
.player.active {
  background-color: #DBE0E7;
}
/* line 68, ../scss/_layout-template.scss */
.player.active .end-turn {
  display: block;
}
/* line 73, ../scss/_layout-template.scss */
.player.dead {
  background-color: #FF0000;
}
