body {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

#canvas {
  width: $width;
  height: $height;
  background: $background-color;
}

#players {
  display: none;
}

#game-board {
  display: none;
}

#settings {
	display: none;
}

.increment-poision,
.decrement-poision {
  background-color: green;
}

.increment-mana,
.decrement-mana {
  background-color: #E5E5E5;

  &.red {
    background: red;
  }

  &.green {
    background: green;
  }

  &.blue {
    background: blue;
  }

  &.black {
    background: black;
    color: white;
  }

  &.white {
    background: white;
  }
}

.player {
  &.active {
    background-color: #DBE0E7;
  }

  &.dead {
    background-color: #FF0000;
  }
}